<% if message.user_id == current_user.id %>
    <div class="my">
        <div class="set">
            <p><%= Profile.find_by(user_id: message.user_id).name %></p>
            <div class="bubble">
                <p class="time"><%= message.created_at.strftime('%m月%d日%H時%M分') %></p>
                <div class="my_talk">
                    <p><%= safe_join(message.content.split("\n"), tag(:br)) %></p>
                </div>
            </div>
        </div>
        <div class="user_name">
            <% if Profile.find_by(user_id: message.user_id).icon? %>
                <%= link_to image_tag(Profile.find_by(user_id: message.user_id).icon.to_s, class:"user_img", alt:"ユーザーアイコン"), profile_path(message.user_id) %>
            <% else %>
                <%= link_to content_tag(:i, "",class:"fas fa-user-circle", alt:"ユーザーアイコン"), profile_path(message.user_id) %>
            <% end %>
        </div>
        <br>
    </div>
<% else %>
    <div class="other">
        <div class="user_name">
            <% if Profile.find_by(user_id: message.user_id).icon? %>
                <%= link_to image_tag(Profile.find_by(user_id: message.user_id).icon.to_s, class:"user_img", alt:"ユーザーアイコン"), profile_path(message.user_id) %>
            <% else %>
                <%= link_to content_tag(:i, "",class:"fas fa-user-circle", alt:"ユーザーアイコン"), profile_path(message.user_id) %>
            <% end %>
        </div>
        <br>
        <div class="set">
            <p><%= Profile.find_by(user_id: message.user_id).name %></p>
            <div class="bubble">
                <div class="user_talk">
                    <p><%= safe_join(message.content.split("\n"), tag(:br)) %></p>
                </div>
                <p class="time"><%= message.created_at.strftime('%m月%d日%H時%M分') %></p>
            </div>
        </div>
    </div>
    <br>
<% end %>