<%= stylesheet_link_tag "articles/style", :media => "all" %>
<div class="show">
    <div class="wrapper">
    <!-- サイドバー -->
        <div class="sidebar">
            <button class="nav_toggle">
                <i></i>
                <i></i>
                <i></i>
            </button>
            <div class="nav">
                <%= link_to image_tag("logo.png",width:"60px",alt:"ロゴ",class:"logo"), root_path %>
                <form class="search" action="" method="post">
                    <input class="form_size" type="search" name="search" placeholder="Enter a keyword">
                    <button><i class="fas fa-search"></i></button>
                </form>
                <button><%= link_to "MY PAGE" , profile_path(current_user.id),class:"new_btn" %></button>
                <button><%= link_to "POST" , new_article_path,class:"new_btn" %></button>
                <% if current_user.id == @article.user_id %>
                    <button><%= link_to"EDIT" ,edit_article_path(@article.id),class:"new_btn" %></button>
                <% end %>
                <button><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete ,class: "new_btn"%></button>
                <h3>MY ROOM</h3>
                <div class="container">
                    <ul class="rooms">
                        <li><a href="../messages/show.html">CG講習会</a></li>
                        <li><a href="../messages/show.html">物理勉強会</a></li>
                        <li><a href="../messages/show.html">サイト作成</a></li>
                        <li><a href="../messages/show.html">リノベプロジェクト</a></li>
                        <li><a href="../messages/show.html">設計コンペ</a></li>
                        <li><a href="../messages/show.html">模型手伝い</a></li>
                        <li><a href="../messages/show.html">就職相談</a></li>
                        <li><a href="../messages/show.html">文章添削</a></li>
                        <li><a href="../messages/show.html">英会話</a></li>
                        <li><a href="../messages/show.html">神楽坂ランチ研究会</a></li>
                        <li><a href="../messages/show.html">映画鑑賞</a></li>
                    </ul>
                </div>
                <button><%= link_to "ALL PAGE", articles_path, class: "new_btn" %></button>
                <h4 class="search_head">SEARCH</h4>
                <div class="category_search">
                    <h4>CATEGORY</h4>
                    <ul class="nav_menu_ul">
                        <li class="nav_menu_li"><a href="../articles/index.html">スキルアップ</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">チャレンジ</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">ヘルプ</a></li>
                    </ul>
                    <h4>UNIVERSITY</h4>
                    <ul class="nav_menu_ul">
                        <li class="nav_menu_li"><a href="../articles/index.html">青山</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">亜細亜大学</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">桜美林大学</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">大妻女子大学</a></li>
                        <details>
                            <summary>more</summary>
                            <div class="details_content">
                                <li class="nav_menu_li"><a href="../articles/index.html">北里大学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">杏林大学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">慶應義塾大学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">工学院大学</a></li>
                            </div>
                        </details>
                    </ul>
                    <h4>FACULTY</h4>
                    <ul class="nav_menu_ul">
                        <li class="nav_menu_li"><a href="../articles/index.html">経営</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">法学</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">理工</a></li>
                        <li class="nav_menu_li"><a href="../articles/index.html">情報</a></li>
                        <details>
                            <summary>more</summary>
                            <div class="details_content">
                                <li class="nav_menu_li"><a href="../articles/index.html">建築</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">文学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">哲学</a></li>
                                <li class="nav_menu_li"><a href="../articles/index.html">教育</a></li>
                            </div>
                        </details>
                    </ul>
                </div>
            </div>
        </div>
    <!-- メインコンテンツ -->
        <div class="topic">
            <% if @article.category == "SKILL" %>
                <%= image_tag "category/skill.jpg", alt:"カテゴリ", class:"head_img" %>
            <% elsif @article.category == "CHALLENGE" %>
                <%= image_tag "category/challenge.jpg", alt:"カテゴリ", class:"head_img" %>
            <% elsif @article.category == "HELP" %>
                <%= image_tag "category/help.jpg", alt:"カテゴリ", class:"head_img" %>
            <% else %>
                <%= image_tag "no-img.png", alt:"カテゴリなし", class:"head_img" %>
            <% end %>
            <div class="back">
                <div class="content">
                    <div class="title">
                        <h1><%= @article.title %></h1>
                        <nav class="jump">
                            <ul>
                                <li><a id="jump1" class="goSection" href="#sub1_title" onclick="func1(1)" >IMAGE</a></li>
                                <li><a id="jump2" class="goSection" href="#sub2_title" onclick="func1(2)" >CONTENT</a></li>
                                <li><a id="jump3" class="goSection" href="#sub3_title" onclick="func1(3)" >TO JOIN</a></li>
                                <li><a id="jump4" class="goSection" href="#sub4_title" onclick="func1(4)" >SKILL</a></li>
                            </ul>
                            <i></i>
                        </nav>
                        <div class="sub1">
                            <h2><a id="sub1_title">IMAGE</a></h2>
                            <div class="sub1_img">
                                <% if @article.image? %>
                                    <%= image_tag @article.image.to_s, alt:"結果イメージ", class:"result-img" %>
                                <% else %>
                                    <%= image_tag "no-img.png", alt:"画像なし", class:"result-img" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="sub2">
                            <h2><a id="sub2_title">CONTENT</a></h2>
                            <p class="sub2_content"><%= safe_join(@article.content.to_s.split("\n"), tag(:br)) %></p>
                        </div>
                        <div class="sub3">
                            <h2><a id="sub3_title">TO JOIN</a></h2>
                            <p class="sub3_content"><%= safe_join(@article.to_join.to_s.split("\n"), tag(:br)) %></p>
                        </div>
                        <div class="sub4">
                            <h2><a id="sub4_title">SKILL</a></h2>
                            <p class="sub4_content"><%= safe_join(@article.skill.to_s.split("\n"), tag(:br)) %></p>
                        </div>
                        
                    </div>
                    <div class="join">
                        <div class="request">
                            <h3>REQUEST</h3>
                            <form class="message" action="" method="post">
                                <input class="join_form" type="message" name="message" placeholder="Request comment">
                                <button class="join_btn">JOIN</button>
                            </form>
                        </div>

                        <div class="good">
                            <div class="good_btn">
                                <% if current_user.already_liked?(@article) %>
                                    <%=link_to article_article_like_path(@article), method: :delete do%>
                                        <i class="far fa-heart"></i>
                                        <%= @article.article_likes.count %>
                                        <p></p>
                                    <%end%>
                                <% else %>
                                    <%=link_to article_article_likes_path(@article), method: :post do%>
                                        <i class="fas fa-heart"></i>
                                        <%= @article.article_likes.count %>
                                        <p></p>
                                　　 <%end%>
                                <% end %>
                            </div>
                            <div class="member">
                                <ul>
                                    <% @article.article_liked_users.each do |user| %>
                                    <li><button><%= link_to user.email ,profile_path(user.id), id:"more_btn" %></button></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>

                        <div class="member">
                            <h3>MEMBERS</h3>
                            <ul>
                                <li><a href="../profiles/show.html">ユーザー1</a></li>
                                <li><a href="../profiles/show.html">ユーザー2</a></li>
                                <li><a href="../profiles/show.html">ユーザー3</a></li>
                                <li><a href="../profiles/show.html">ユーザー4</a></li>
                                <li><a href="../profiles/show.html">ユーザー5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- フッター -->
        <footer>
            <small>© 2020 YutaToyomi</small>
            <ul class="sns_buttons">
                <li>
                    <a rel="nofollow" href="http://twitter.com/share?text=【大学生のためのコミュニティサイト〇〇】&url=【URL】&hashtags=【〇〇】"
                        onclick="window.open(encodeURI(decodeURI(this.href)), 'tweet_window',
                        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="http://www.facebook.com/share.php?text=【大学生のためのコミュニティサイト〇〇】&url=【URL】&hashtags=【〇〇】"
                        onclick="window.open(encodeURI(decodeURI(this.href)), 'facebook_window',
                        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a rel="nofollow" href="http://line.me/R/msg/?【大学生のためのコミュニティサイト〇〇】url=【URL】"
                        onclick="window.open(encodeURI(decodeURI(this.href)), 'line_window',
                        'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
                        <i class="fab fa-line"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</div>
<script>
    $(function(){
    });
</script>
<script>
    $(function(){
        let fix    = $(".jump"); 
        let fixTop = fix.offset().top;
        $(window).scroll(function () {  
            if($(window).scrollTop() >= fixTop) {
                fix.css("position","sticky");
                fix.css("position","-webkit-sticky");
                fix.css("top","0"); 
                fix.css("width","90%") 
                fix.css("border-bottom-color","red")  
            } else {
                fix.css("position","");                
                fix.css("top","");     
            }
        });
        
        $('.nav_toggle').on('click', function () {
            $('.nav_toggle, .nav, .sidebar, .topic, .back, .head_img, .message_form').toggleClass('show');
        });
        
    });
    function func1(jumpNo){
        const elem1 = document.getElementById("jump1")
        const elem2 = document.getElementById("jump2")
        const elem3 = document.getElementById("jump3")
        const elem4 = document.getElementById("jump4")
    
        if(jumpNo == 2){
            if(elem2.classList.contains("jump_active")){
                elem2.classList.remove('jump_active');
                }
            else{
                elem2.classList.add('jump_active');
                }
        }
        else if(jumpNo == 3){
            if(elem3.classList.contains("jump_active")){
                elem3.classList.remove('jump_active');
                }
            else{
                elem3.classList.add('jump_active');
                }
        }
        else if(jumpNo == 4){
            if(elem4.classList.contains("jump_active")){
                elem4.classList.remove('jump_active');
                }
            else{
                elem4.classList.add('jump_active');
                }
        }
        else {
            if(elem1.classList.contains("jump_active")){
                elem1.classList.remove('jump_active');
                }
            else{
                elem1.classList.add('jump_active');
                }
        }
    };
</script>