<%= stylesheet_link_tag "rooms/style", :media => "all" %>
<div class="wrapper">
<!-- サイドバー -->
    <div class="sidebar">
        <button class="nav_toggle">
            <i></i>
            <i></i>
            <i></i>
        </button>
        <div class="nav">
            <%= link_to image_tag("logo.png",width:"60px",alt:"ロゴ",class:"logo"), root_path %>
            <%= form_tag({controller:"articles",action:"index"}, method: :get, class:"search") do %>
                <%= text_field_tag :search, "", {class: "form_size", placeholder: "Enter a keyword"} %>
                <%= button_tag type: "submit" do %><i class="fas fa-search"></i><% end %>
            <% end %>
            <button><%= link_to "MY PAGE" , profile_path(current_user.id), class:"new_btn" %></button>
            <button><%= link_to "POST" , new_article_path, class:"new_btn" %></button>
            <button><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete ,class: "new_btn"%></button>
            <h3>MY ROOM</h3>
            <div class="container">
                <ul class="rooms">
                    <%= render 'articles/room' %>
                </ul>
            </div>
            <br>
            <button><%= link_to "ALL PAGE", articles_path, class: "new_btn" %></button>
            <br>
            <h4 class="search_head">SEARCH</h4>
            <div class="category_search">
                <h4>CATEGORY</h4>
                <ul>
                    <li><%= button_to "スキルアップ", {controller: "articles", action: "index"}, { method: :get, params: {search: 'SKILL'} } %></li>
                    <li><%= button_to "チャレンジ", {controller: "articles", action: "index"}, { method: :get, params: {search: 'CHALLENGE'} } %></li>
                    <li><%= button_to "ヘルプ", {controller: "articles", action: "index"}, { method: :get, params: {search: 'HELP'} } %></li>
                </ul>
                <h4>UNIVERSITY</h4>
                <ul>
                    <% Profile.pluck("univercity").reject(&:blank?).uniq.first(5).each do |u| %>
                        <li><%= button_to u, {controller: "articles", action: "index"}, { method: :get, params: {search: u} } %></li>
                    <% end %>
                    <% if Profile.pluck("univercity").reject(&:blank?).uniq[5] != nil %>
                        <details>
                            <summary>more</summary>
                            <div class="details_content">
                                <% Profile.pluck("univercity").reject(&:blank?).uniq[5..-1].each do |u| %>
                                    <li><%= button_to u, {controller: "articles", action: "index"}, { method: :get, params: {search: u} } %></li>
                                <% end %>
                            </div>
                        </details>
                    <% end %>
                </ul>
                <h4>FACULTY</h4>
                <ul>
                    <% Profile.pluck("faculty").reject(&:blank?).uniq.first(5).each do |f| %>
                        <li><%= button_to f, {controller: "articles", action: "index"}, { method: :get, params: {search: f} } %></li>
                    <% end %>
                    <% if Profile.pluck("faculty").reject(&:blank?).uniq[5] != nil %>
                        <details>
                            <summary>more</summary>
                            <div class="details_content">
                                <% Profile.pluck("faculty").reject(&:blank?).uniq[5..-1].each do |f| %>
                                    <li><%= button_to f, {controller: "articles", action: "index"}, { method: :get, params: {search: f} } %></li>
                                <% end %>
                            </div>
                        </details>
                    <% end %>
                </ul>
                <h4>DEPARTMENT</h4>
                <ul>
                    <% Profile.pluck("department").reject(&:blank?).uniq.first(5).each do |d| %>
                        <li><%= button_to d, {controller: "articles", action: "index"}, { method: :get, params: {search: d} } %></li>
                    <% end %>
                    <% if Profile.pluck("department").reject(&:blank?).uniq[5] != nil %>
                        <details>
                            <summary>more</summary>
                            <div class="details_content">
                                <% Profile.pluck("department").reject(&:blank?).uniq[5..-1].each do |d| %>
                                    <li><%= button_to d, {controller: "articles", action: "index"}, { method: :get, params: {search: d} } %></li>
                                <% end %>
                            </div>
                        </details>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<!-- メインコンテンツ -->
    <div class="topic">
        <div class="content">
            <div class="title">
                <h1><%= link_to @article.title,article_path(@article.id) %></h1>
                <div class="talk" id="messages" data-room_id="<%= @room.id %>">
                    <%= render @messages %>
                </div>
            </div>
            <div class="message_form">
                <div class="type_content">
                    <%= text_area :content, nil, data: { behavior: 'room_speaker' } ,placeholder: "ここにメッセージを入力してください", wrap: "hard", class:"chat-input" %>
                </div>
                <input class="post_btn" type="submit" value="SEND">
            </div>
            <div class="join">
                <div class="member">
                    <h3>MEMBERS</h3>
                    <ul>
                        <li><button><%= link_to Profile.find_by(user_id: @article.user_id).name,profile_path(@article.user_id), class:"more_btn" %></button></li>
                        <% @requested_user.each do |user| %>
                            <% if @requested.find_by(user_id: user.id).permission == true %>
                                <li><button><%= link_to Profile.find_by(user_id: user.id).name ,profile_path(user.id), class:"more_btn" %></button></li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){        
        $('.nav_toggle').on('click', function () {
            $('.nav_toggle, .nav, .sidebar, .topic, .back, .head_img, .message_form').toggleClass('show');
        });
    });
    $("#messages").prop({ scrollTop: $("#messages").prop("scrollHeight") });
    
</script>