<%= stylesheet_link_tag "users/style", :media => "all" %>
<div class="wrapper">
  <!-- ヘッダー -->
  <header>
      <div class="logo">
          <%= image_tag "logo.png", :size =>'40x40'%> 
          <div class="site_title">
              <p id="site"><span>POMIT</span></p>
              <p id="sub">- Community site for college students -</p>
          </div>
      </div>
      <div class="nav_right">
          <nav><%= link_to "TOP PAGE", root_path, class: "nav-btn" %></nav>
          <nav><%= link_to "LOGIN", new_user_session_path, class: "nav-btn" %></nav>
      </div>
  </header>
  <!-- フォーム -->
  <div class="form_box">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form">
            <%= render "users/shared/error_messages", resource: resource %>
            <div class="field">
                <%= f.label :email %>
            </div>
            <%= f.email_field :email, :placeholder => "Enter your email...", autofocus: true, autocomplete: "email" %>

            <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
            </div>
            <%= f.password_field :password, :placeholder => "Enter your password...", autocomplete: "new-password" %>

            <div class="field">
                <%= f.label :password_confirmation %>
            </div>
            <%= f.password_field :password_confirmation, :placeholder => "Confirm your password...", autocomplete: "new-password" %>

            <div class="actions">
                <%= f.submit "Sign up" ,class: "submit_btn" %>
            </div>
            <%= render "users/shared/links" %>
            <% end %>
        </div>
  </div>
  <!-- フッター -->
  <footer>
      <small>© 2020 YutaToyomi</small>
      <ul class="sns_buttons">
          <li>
              <a rel="nofollow" href="http://twitter.com/share?text=【大学生のためのコミュニティサイト〇〇】&url=【URL】&hashtags=【〇〇】"
                  onclick="window.open(encodeURI(decodeURI(this.href)), 'tweet_window',
                  'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
                  <i class="fa fa-twitter-square"></i>
              </a>
          </li>
          <li>
              <a rel="nofollow" href="http://www.facebook.com/share.php?text=【大学生のためのコミュニティサイト〇〇】&url=【URL】&hashtags=【〇〇】"
                  onclick="window.open(encodeURI(decodeURI(this.href)), 'facebook_window',
                  'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
                  <i class="fa fa-facebook-square"></i>
              </a>
          </li>
          <li>
              <a rel="nofollow" href="http://line.me/R/msg/?【大学生のためのコミュニティサイト〇〇】url=【URL】"
                  onclick="window.open(encodeURI(decodeURI(this.href)), 'line_window',
                  'width=600, height=470, toolbar=no, scrollbars=yes, resizable=yes'); return false;">
                  <i class="fab fa-line"></i>
              </a>
          </li>
      </ul>
  </footer>
</div>